@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(101.44deg, rgba(252, 204, 203, 0.2) 16.81%, rgba(239, 230, 212, 0.2) 53.67%, rgba(211, 220, 243, 0.2) 67.17%, rgba(217, 245, 253, 0.2) 76.66%, rgba(255, 255, 255, 0.2) 86.88%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  height: calc(100vh);
}

h1 {
  line-height: clamp(36px, 10.5vw, 96px);
  max-width: 800px;
}

p {
  font-weight: 500;
  font-size: clamp(16px, 4.4vw, 36px);
  line-height: 1.5em;
  text-align: center;
  color: #2B2B2B;
}